.IshopBlock {
  width: 50%;

  > .IshopBlockName {
    display: block;
    font-size: 24px;
    font-weight: bold;
  }

  > .IshopBlockTable {
    border: 1px solid black;
    border-radius: 10px;

    > .IshopBlockTableRow {
      display: grid;
      grid-template-columns: 40% 20% 25% 15%;
      grid-template-rows: auto;
      font-size: 20px;
      line-height: 30px;
      padding: 0px 15px;
    }
  }
}